<table class="table table-hover">
  <thead>
  <tr>
    <th>Название</th>
    <th>Цена за единицу</th>
    <th>Единица измерения</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in items">
    <td>{{item.name}}</td>
    <td>{{item.unitCoast}}</td>
    <td>{{item.unitName}}</td>
    <td>
      <button ng-click="buyerCtrl.toggleModal()" class="btn btn-primary">Добавить товар</button>
      <button ng-click="editProductHandler()" class="btn btn-primary">Изменить товар</button>
      <button ng-click="editProductHandler()" class="btn btn-danger">Удалить товар</button>
    </td>
  </tr>
  </tbody>
</table>

<button ng-click="sendRequest()">Загрузить  товары</button>
<p><input type="checkbox" ng-model="showAddDiv"/>Показать скидки</p>

<!--<button ng-click='toggleModal()'>Open dialog</button>-->
<!--<modal-dialog show='modalShown' width='500px' height='60%'>-->
  <!--<p>Содержимое модального окна<p>-->
<!--</modal-dialog>-->


<div ng-show="showAddDiv">
<div>
  <ul class="nav nav-tabs">
    <li ng-repeat="discount in discountsMas" class="active">
      <a href="#tab{{$index}}" data-toggle="tab">Скидка размером {{discount.amountDiscount}} %</a>
    </li>
    <!--<li class="active"><a href="#tab1" data-toggle="tab">Раздел 1</a></li>-->
    <!--<li><a href="#tab2" data-toggle="tab">Раздел 2</a></li>-->
  </ul>


  <div class="tab-content">
    <div  ng-repeat="discount in discountsMas" class="tab-pane active" id="tab{{$index}}">
      <div>
        <p>Действует с  {{discount.actualFrom}} </p>
        <p>Действует по {{discount.actualTo}} </p>
        <p>Величина скидки  {{discount.amountDiscount}} %</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--http://mybootstrap.ru/components/--active класс установить только для первой вкладуи>
